table {
    margin: 5% 15%;
    color: #ffffff;
    font-size: 1.25rem;
    border-color: #f40313;
    border-collapse: collapse;
    /*border-radius: 1rem;
    overflow: hidden;*/
}

table tbody tr td {
    border: 0.15rem solid #f40313;
    padding: 0.5rem;
}

table #tbHead {
    text-align: center;
    font-size: 1.75rem;
    border: 0.15rem solid #f40313;
}

table tr:hover {
    color: #f40313;
}

footer {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 5rem;
}