/* path= "style/images.css"*/
article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.Image1 {
    grid-column: 2 / span 1;
    grid-row: 1 / 2;
    text-align: center;
}
.Image2 {
    grid-column: 3/ span 1;
    grid-row: 1 / 2;
    text-align: center;
}

.TafelrundeRitterimg {
    grid-column: 2;
    grid-row: 1;
    width: 50%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.TafelrundeRittertext {
    grid-column: 2;
    grid-row: 2;
    opacity: 0;
    color: #f40313;
}
.Wappenimg {
    grid-column: 3;
    grid-row: 1;
    width: 50%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.Wappentext {
    grid-column: 3;
    grid-row: 2;
    opacity: 0;
    color: #f40313;
}

.caption {
    font-size: 1.5rem;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

.Image1:hover .TafelrundeRitterimg{
    opacity: 1;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.Image1:hover .TafelrundeRittertext {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.Image2:hover .Wappenimg{
    opacity: 1;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    transition: all 0.75s ease-in-out;
}


.Image2:hover .Wappentext {
    opacity: 1;
    transition: opacity 0.75s ease-in-out;
}
