/* path= "style/info.css"*/

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
}

article {
    border: #f40313;
    margin: 7.5% 20%;
    font-size: 1.25rem;
    color: #f40313;
}

#imprint {
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}

#kontakt {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

#kontaktGerman {
    margin-right: 5%;
}

#kontaktEnglish {
    margin-left: 5%;
}