/* path= "/style/style.css"*/

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
}

header {

}

#headline {
    color: #f40313;
    font-size: 3rem;
    text-align: center;
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav a {
    color: #f40313;
    text-decoration: none;
}
nav a:hover {
    color: #ffffff;
}

article{

}

#indexText {
    border: #f40313;
    margin: 5% 25%;
    font-size: 1.25rem;
    color: #f40313;
}

footer {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 5rem;
}

footer li {
    display: inline;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer a {
    color: #f40313;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}