/* path= "style/style.css"*/

::-webkit-scrollbar {
    display: none;
}

@keyframes bodyBackground {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

body {
    background: linear-gradient(-45deg, #000000, #202020);
    background-size: 400% 400%;
    animation: bodyBackground 5s ease infinite;
    color: #ffffff;
    font-family: "Arial", sans-serif;
}

header {
    margin-top: 5rem;
    color: #f40313;
    font-size: 3rem;
    text-align: center;
}

.headline:hover {
    color: #ffffff;
    transition: color 100ms;
}

nav {
    margin-top: 2rem;
    text-align: center;
}

nav li {
    display: inline;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav a {
    color: #f40313;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    transition: color 250ms;
}

article {

}

.indexText {
    border: #f40313;
    margin: 3% 25%;
    font-size: 1.25rem;
    color: #f40313;
}

.indexText p:hover {
    color: #ffffff;
    transition: color 100ms;
}

footer {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

footer li {
    display: inline;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer a {
    color: #f40313;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    transition: color 100ms;
}
