/* path= "style/other/animation.css"*/
@keyframes bodyBackground {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    animation: bodyBackground 5s ease infinite;
    background: linear-gradient(-45deg, #000000, #202020);
    background-size: 400% 400%;
}