/* path= "style/mobile/images.css"*/
@media (max-width: 1250px) {

    article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
    }

    #clearLeft {
        display: none;
    }

    #clearRight {
        display: none;
    }
}

@media (orientation: portrait), (max-width: 800px) {
    article {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
    }

    #clearLeft {
        display: none;
    }

    #clearRight {
        display: none;
    }

    img {
        width: 256px;
        height: 256px;
        opacity: 1;
        transition: all 0.25s ease-in-out;
    }
}