/* path= "style/mobile/style.css"*/
@media (orientation: portrait), (max-width: 800px) {

    body {
        background-size: 400% 400%;
        color: #ffffff;
        font-family: "Arial", sans-serif;
        background: linear-gradient(-45deg, #000000, #202020);
    }

    #headImage {
        height: 2rem;
        background-size: auto 2rem;
    }

    header {
        margin-top: 1rem;
        color: #f40313;
        text-align: center;
    }

    .headline {
        font-size: 1.5rem;
        color: #f40313;
    }

    .headline:hover {
        color: #f40313;
    }

    nav {
        margin-top: 0.5rem;
        text-align: center;
    }

    nav li {
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    nav a {
        color: #f40313;
        font-size: 1.25rem;
        text-decoration: none;
    }

    .indexText {
        border: #f40313;
        margin: 3% 15%;
        font-size: 1.25rem;
        color: #f40313;
    }

    .indexText p:hover {
        color: #f40313;
    }

    footer {
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    footer li {
        display: inline;
        font-size: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer a {
        color: #f40313;
        text-decoration: none;
        font-size: 1rem;
    }
}