/* path= "style/desktop/style.css"*/

body {
    background-size: 400% 400%;
    color: #ffffff;
    font-family: "Arial", sans-serif;
}

header {
    margin-top: 5rem;
    color: #f40313;
    font-size: 3rem;
    text-align: center;
}

.headline:hover {
    color: #ffffff;
    transition: color 100ms;
}

nav {
    margin-top: 2rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    transition: ease-in-out 250ms;
}

nav li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*ToDo Animation*/

.shown  {
    display: block;
    animation: fadeIn 1s ease-in-out;
}

.hidden {
    display: none;
    animation: fadeOut 1s ease-in-out;
}

nav a {
    color: #f40313;
    font-size: 2rem;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    transition: color 250ms;
}

.indexText {
    border: #f40313;
    margin: 3% 25%;
    font-size: 1.25rem;
    color: #f40313;
}

.indexText p:hover {
    color: #ffffff;
    transition: color 100ms;
}

footer {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

footer li {
    display: inline;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer a {
    color: #f40313;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    transition: color 100ms;
}
