/* path= "style/desktop/style.css"*/

body {
    background-size: 400% 400%;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    background: linear-gradient(-45deg, #000000, #202020);
}

header {
    margin-top: 5rem;
    color: #f40313;
    font-size: 3rem;
    text-align: center;
}

#headImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: url('https://www.cocacola.jp/common/images/og/og.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: auto 6rem;
    z-index: -1;
}

#headImage.headImageHidden {
    Transition: all 0.25s ease-in-out;
    transform: translateY(-100%);
}

.headline:hover {
    color: #ffffff;
    transition: color 100ms;
}

nav {
    margin-top: 2rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    transition: ease-in-out 250ms;
}

nav li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*ToDo Animation*/

.shown {
    /*animation: navFadeIn 250ms ease-in-out;*/

}

.hidden {
    /*animation: navFadeOut 2s linear infinite;*/
}

nav a {
    color: #f40313;
    font-size: 2rem;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    transition: color 250ms;
}

#lightMode {
    display: flex;
    justify-content: center;
}


.indexText {
    border: #f40313;
    margin: 3% 25%;
    font-size: 1.25rem;
    color: #f40313;
}

.indexText p:hover {
    color: #ffffff;
    transition: color 100ms;
}

footer {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

footer li {
    display: inline;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer a {
    color: #f40313;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    transition: color 100ms;
}
