/* path= "style/desktop/table.css"*/

table {
    margin: 3% 15%;
    color: #ffffff;
    font-size: 1.25rem;
    border-color: #f40313;
    border-collapse: collapse;
}

table tbody tr td {
    border: 0.15rem solid #f40313;
    padding: 0.5rem;
}

table tr td:hover {
    color: #f40313;
    transition: color 100ms;
}

table #tbHead {
    text-align: center;
    font-size: 1.75rem;
    border: 0.15rem solid #f40313;
}

.year {
    text-align: center;
}

.chr {
    text-align: center;
}